body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-color: hsl(230, 17%, 14%);
  color: #fff;
  font-family: "inter";
  padding-inline: 1.2em;
  padding-block: 2em;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  transition: 0.5s all;
}
.body::after {
  position: absolute;
  content: "";
  top: -2%;
  background-color: hsl(232, 19%, 15%);
  border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  width: 100vw;
  height: 45vh;
  z-index: 1;
  transition: 0.5s all;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  overflow-x: hidden;
  z-index: 99;
}
@media (min-width: 1044px) {
  .wrapper .nav {
    display: flex;
    justify-content: space-between;
  }
}
.wrapper .nav .head {
  line-height: 90%;
  border-bottom: 1.9px solid hsl(228, 12%, 44%);
  padding-bottom: 0.8em;
}
@media (min-width: 1044px) {
  .wrapper .nav .head {
    border: none;
  }
}
.wrapper .nav .head h2 {
  font-size: 25px;
}
.wrapper .nav .head p {
  color: hsl(228, 34%, 66%);
  font-weight: bold;
}
.wrapper .darkmode {
  padding: 1em 0 0em 0;
  color: hsl(228, 34%, 66%);
  font-weight: bold;
}
.wrapper .darkmode .label {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1044px) {
  .wrapper .darkmode .label {
    display: flex;
    gap: 1em;
  }
}
.wrapper .darkmode .label label {
  position: relative;
  height: 25px;
  width: 50px;
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  border-radius: 30px;
}
.wrapper .darkmode .label label::before {
  position: absolute;
  top: 10%;
  left: 8%;
  content: "";
  width: 18px;
  height: 19px;
  background: hsl(232, 19%, 15%);
  border-radius: 50px;
  transition: 0.5s all;
}
.wrapper .social-dashboards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
  grid-gap: 1.5em;
  padding-block: 2.4em;
}
.wrapper .social-dashboards .boards {
  position: relative;
  background-color: hsl(228, 28%, 20%);
  border-radius: 7px;
  text-align: center;
  padding-block: 1.8em;
  line-height: 10%;
  transition: 0.5s all;
}
.wrapper .social-dashboards .boards:hover {
  background: hsla(228, 34%, 66%, 0.242);
}
.wrapper .social-dashboards .boards:nth-child(1) {
  border-top: 5px solid hsl(208, 92%, 53%);
}
.wrapper .social-dashboards .boards:nth-child(2) {
  border-top: 5px solid hsl(203, 89%, 53%);
}
.wrapper .social-dashboards .boards:nth-child(3)::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  width: 100%;
  height: 5px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.wrapper .social-dashboards .boards:nth-child(4) {
  border-top: 5px solid hsl(348, 97%, 39%);
}
.wrapper .social-dashboards .boards .icon {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}
.wrapper .social-dashboards .boards .icon img {
  width: 20px;
  height: 20px;
}
.wrapper .social-dashboards .boards .icon p {
  font-size: 13px;
  color: hsl(228, 34%, 66%);
  font-weight: bold;
}
.wrapper .social-dashboards .boards .num {
  line-height: 1mm;
  padding-bottom: 1.5em;
}
.wrapper .social-dashboards .boards .num h2 {
  font-size: 70px;
  font-weight: bold;
}
@media (min-width: 1044px) {
  .wrapper .social-dashboards .boards .num h2 {
    font-size: 60px;
  }
}
.wrapper .social-dashboards .boards .num p {
  color: hsl(228, 34%, 66%);
  letter-spacing: 2mm;
  font-size: 13px;
  font-weight: bold;
}
@media (min-width: 1044px) {
  .wrapper .social-dashboards .boards .num p {
    letter-spacing: 1mm;
  }
}
.wrapper .social-dashboards .boards .today {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.wrapper .social-dashboards .boards .today span {
  color: hsl(163, 72%, 41%);
}
.wrapper .social-dashboards .boards .today span:nth-child(1) {
  color: hsl(356, 69%, 56%);
}
.wrapper .social-dashboards .boards .today img {
  width: 10px;
}
.wrapper .overviewHead h1 {
  font-size: 27px;
}
.wrapper .overview {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
  grid-gap: 1.4em;
}
.wrapper .overview .view {
  background-color: hsl(228, 28%, 20%);
  border-radius: 7px;
  padding: 1.5em;
  padding-block: 0.9em;
  padding-bottom: 0.1em;
  line-height: 20%;
  transition: 0.5s all;
}
.wrapper .overview .view:hover {
  background: hsla(228, 28%, 38%, 0.528);
}
.wrapper .overview .view .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .overview .view .top p {
  font-size: 15px;
  color: hsl(228, 34%, 66%);
  font-weight: bold;
}
.wrapper .overview .view .top img {
  width: 20px;
  height: 20px;
}
.wrapper .overview .view .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .overview .view .bottom p {
  color: hsl(146, 68%, 55%);
  font-weight: bold;
  font-size: 12px;
  padding-top: 2em;
}
.wrapper .overview .view .bottom h3 {
  font-size: 30px;
}
.wrapper .overview .view .bottom h5 {
  color: hsl(356, 69%, 56%);
  padding-top: 2em;
}

#mode {
  display: none;
}

#mode:checked ~ .body {
  background: hsl(0, 0%, 100%);
}
#mode:checked ~ .body .head h2 {
  color: hsl(230, 17%, 14%);
}
#mode:checked ~ .body p {
  color: hsl(228, 12%, 44%);
}
#mode:checked ~ .body .darkmode .label {
  color: hsl(228, 12%, 44%);
}
#mode:checked ~ .body .darkmode .label label {
  position: relative;
  height: 25px;
  width: 50px;
  background: hsl(230, 22%, 74%);
  border-radius: 30px;
}
#mode:checked ~ .body .darkmode .label label::before {
  position: absolute;
  top: 10%;
  left: 55%;
  content: "";
  width: 18px;
  height: 19px;
  background: hsl(232, 19%, 15%);
  border-radius: 50px;
}
#mode:checked ~ .body .boards {
  background: hsl(227, 47%, 96%);
}
#mode:checked ~ .body .boards:hover {
  background: hsla(229, 27%, 20%, 0.838);
}
#mode:checked ~ .body .boards:hover p {
  color: hsl(229, 20%, 62%);
}
#mode:checked ~ .body .boards p {
  color: hsl(228, 12%, 44%);
}
#mode:checked ~ .body .boards h2 {
  color: hsl(230, 17%, 14%);
}
#mode:checked ~ .body .overviewHead {
  color: hsl(228, 12%, 44%);
}
#mode:checked ~ .body .view {
  background: hsl(227, 47%, 96%);
}
#mode:checked ~ .body .view:hover {
  background: hsla(229, 27%, 20%, 0.838);
}
#mode:checked ~ .body .view:hover p {
  color: hsl(229, 20%, 62%);
}
#mode:checked ~ .body .view p {
  color: hsl(228, 12%, 44%);
}
#mode:checked ~ .body .view h3 {
  color: hsl(230, 17%, 14%);
}
#mode:checked ~ .body .view .bottom p {
  color: hsl(163, 72%, 41%);
}

#mode:checked ~ .body::after {
  background: hsl(225, 100%, 98%);
}

/*# sourceMappingURL=main.css.map */
